@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-gradient: linear-gradient(to bottom right, #f2faff, #ffffff);
  --btn-gradient: linear-gradient(to bottom right, #a7e2ff, #0095DE);
  --bg-gradient: linear-gradient(to bottom , #E6F6FE, #ffffff);
  --text-gradient: linear-gradient(to bottom right , #0179B4, #88D8FF);
  --border-gradient: linear-gradient(to bottom right , #1376F8, #25B4F8);

  --ImgBack-gradient: linear-gradient(to bottom , #00A4F4, #C2EBFF);

}
/* *{
  border: red solid 1px;
} */

@font-face {
    font-family: 'General Sans';
    src: url('./assets/Fonts/GeneralSans/GeneralSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'General Sans';
    src: url('./assets/Fonts/GeneralSans/GeneralSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'General Sans';
    src: url('./assets/Fonts/GeneralSans/GeneralSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Manrope';
    src: url('./assets/Fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('./assets/Fonts/Manrope/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('./assets/Fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('./assets/Fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  .btn-hover-effect {
    @apply hover:bg-gradient-to-r hover:from-[#a7e2ff] hover:to-[#0095DE] hover:text-white;
  }
  
  .text-gradient-btn {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .border-gradient-btn {
    background: var(--border-gradient);
    border-width: 0.1px;
  }
